@import "./_css_reset.css";

:root {
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --very-dark-grayish-blue: hsl(227, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --default-font-family: "Manrope", sans-serif;
  --default-font-size: 13px;
  --fw-medium: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  color: var(--very-dark-grayish-blue);
  background-color: var(--light-grayish-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 3rem 0 1rem 0;
  & a {
    color: hsl(228, 45%, 44%);
  }
}
